:root{
    --primary-color:  #4A90E2;
    
    --primary-bg-color: #8c959a;
    --primary-title-color: #18FFFF;
    --border-color:  #9C27B0;

    --title-color: #FFFFFF;
    --link-color: #1C3D5A;
    --icon-color: #7E57C2;
}

*{
    font-family: 'Poppins', sans-serif;
}